In [ ]:
# Importing Libraries

import pandas as pd
import numpy as np
from scipy import stats
from sklearn import preprocessing
preprocessing.LabelEncoder()
preprocessing.StandardScaler()
from sklearn import model_selection
train_test_split = model_selection.train_test_split

In [8]:
# Loading the data

data = pd.read_csv(r'C:\\Users\\Admn\\Documents\\Data Analysis Imp stuff\\Research_Project\\Dataset\\Dilli_Dukaan_data.csv', encoding='latin1')
print(data.dtypes)

Row_ID            int64
Order_ID         object
Order_Date       object
Ship_Date        object
Ship_Mode        object
Customer_ID      object
Segment          object
Country          object
City             object
Region           object
Product_ID       object
Category         object
Sub_Category     object
Product_Name     object
Sales           float64
dtype: object

In [9]:
# Viewing the data

print(data.head())
print(data.dtypes)
print(data.describe())

   Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  IN-2017-152156  08-11-2017  11-11-2017    Second Class    CG-12520
1       2  IN-2017-152156  08-11-2017  11-11-2017    Second Class    CG-12520
2       3  IN-2017-138688  12-06-2017  16-06-2017    Second Class    DV-13045
3       4  IN-2016-108966  11-10-2016  18-10-2016  Standard Class    SO-20335
4       5  IN-2016-108966  11-10-2016  18-10-2016  Standard Class    SO-20335

     Segment Country   City Region       Product_ID         Category  \
0   Consumer   India  Delhi  South  FUR-BO-10001798        Furniture
1   Consumer   India  Delhi  South  FUR-CH-10000454        Furniture
2  Corporate   India  Delhi   West  OFF-LA-10000240  Office Supplies
3   Consumer   India  Delhi  South  FUR-TA-10000577        Furniture
4   Consumer   India  Delhi  South  OFF-ST-10000760  Office Supplies

  Sub_Category                                       Product_Name     Sales
0    Bookcases                  Bush Somerset Collection Bookcase  261.9600
1       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4      Storage                      Eldon Fold N Roll Cart System   22.3680
Row_ID            int64
Order_ID         object
Order_Date       object
Ship_Date        object
Ship_Mode        object
Customer_ID      object
Segment          object
Country          object
City             object
Region           object
Product_ID       object
Category         object
Sub_Category     object
Product_Name     object
Sales           float64
dtype: object
            Row_ID         Sales
count  9800.000000   9800.000000
mean   4900.500000    230.769059
std    2829.160653    626.651875
min       1.000000      0.444000
25%    2450.750000     17.248000
50%    4900.500000     54.490000
75%    7350.250000    210.605000
max    9800.000000  22638.480000

In [10]:
# Handling Missing Values

print(data.isnull().sum())

Row_ID          0
Order_ID        0
Order_Date      0
Ship_Date       0
Ship_Mode       0
Customer_ID     0
Segment         0
Country         0
City            0
Region          0
Product_ID      0
Category        0
Sub_Category    0
Product_Name    0
Sales           0
dtype: int64

In [11]:
# Encoding Categorical Variables

data['Ship_Mode'] = preprocessing.LabelEncoder().fit_transform(data['Ship_Mode'])
data['Segment'] = preprocessing.LabelEncoder().fit_transform(data['Segment'])
data['Region'] = preprocessing.LabelEncoder().fit_transform(data['Region'])
data['Category'] = preprocessing.LabelEncoder().fit_transform(data['Category'])
data['Sub_Category'] = preprocessing.LabelEncoder().fit_transform(data['Sub_Category'])

In [12]:
# Converting the data types to optimize data for analysis

# Order Date to datetime
data['Order_Date'] = pd.to_datetime(data['Order_Date'], dayfirst = True)

# Ship Date to datetime
data['Ship_Date'] = pd.to_datetime(data['Ship_Date'], dayfirst = True)

# Numerical Columns to float and integer
data['Sales'] = data['Sales'].astype(np.float64)

In [13]:
# Removing duplicate rows

data.drop_duplicates(inplace=True)

In [14]:
# Splitting Training and Testing sets

X_train, X_test, y_train, y_test = train_test_split(data.drop('Sales', axis = 1), data['Sales'], test_size = 0.2, random_state = 42)

In [15]:
# Saving preprocessed data
data.to_csv(r'C:\Users\Admn\Documents\Data Analysis Imp stuff\Research_Project\Dataset\Preprocessed_data.csv', index = False)